html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

body {
  font: 1.2em / 1.5 sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Icons';
}

.main-split>* {
  color: black;
}

.main-split {
  display: grid;
  grid-template-columns: 5fr 7fr;
  min-width: 95vw;
  min-height: 98vh;
}

.right-split {
  display: grid;
  grid-template-rows: minmax(0, 2fr) minmax(0, 6fr) minmax(0, 2fr);
}

.left-split {
  display: grid;
  grid-template-rows: minmax(0, 2fr) minmax(0, 4fr) minmax(0, 6fr);
}

.card {
  border-radius: 1%;
  box-shadow: 1px 1px 5px grey;
  margin: 5px;
}

.item1 {
  padding: 20px;
}

.item2 {
  padding: 20px;
}

.item3 {
  padding: 20px;
}

.item4 {
  padding: 45px;
}

.item5 {
  display: grid;
  grid-template: 1fr;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 20px;
}

.container div {
  place-self: center;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.days {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
}


.dates {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-size: 15px;
}
