@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background-color: #181825;
  color: #cdd6f4;

  display: grid;
  place-items: center;
}

.appArea {
  background-color: #1e1e2e;
  height: 100vh;
  width: 33vw;
  padding: 1rem;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 30px;
}

.card {
  display: grid;
  background-color: #313244;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.bigCard {
  place-items: center;
}

.smallCard {
  grid-template-columns: 1fr 1fr 1fr;
  padding:10px;
}
